/*
http://templated.co/keyboard
*/
body{
    display:block;
    margin:0;
    padding:0;
    background:#050505;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    color:#5b5b5b;
}

h1,h2,h3{
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-weight:normal;
    font-family: 'Abel', sans-serif;
    font-weight:200;
    color:#222222;
}

img{
    width:1000px;
    height:300px;
}

h1{
    font-size:2em;
}

h2{
    font-size:2.8em;
}

p,ul,ol{
    margin-top:0;
    line-height:180%;
}

div{
    display:block;
}

.post .title a{
    border:none;
    text-decoration:none;
    color:#222222;
}

.post{
    overflow:hidden;
    margin-bottom:40px;
    border-bottom:1px solid;
}

#page{
    width:1000px;
    margin:0 auto;
    padding:30px 0px;
    
}

#header{
    width: 1000px;
    height:150px;
    margin:0 auto;
    padding: 0px 0px;
}

.container{
    width:1000px;
    margin: 0 auto;
}

#menu{
    float:right;
    width:500px;
    height:90px;
    margin: 0 auto;
    padding: 0;
}

#menu ul{
    float:right;
    margin:0;
    padding:20px 0px 0px 0px;
}

#menu a{
    display:block;
    line-height:100px;
    margin-right: 1px;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow:1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #1f1f1f;
    border:none;
}

#menu a:hover, #menu .current_page_item a {
	background: black repeat;
	text-decoration: none;
	color: #FFFFFF;
}


#header-wrapper{
    overflow:hidden;
}

#wrapper{
    background:#ffffff;
}

#logo h1{
    line-height: 120px;
    letter-spacing: -2px;
    font-size:3.8em;
}


#sidebar{
    float: left;
    width:270px;
    margin: 0px;
    padding: 30px 0px 0px 0px;
}

#sidebar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li{
    margin:0;
    padding:0;
}

#sidebar li ul{
    margin:0px 0px;
    padding-bottom:30px;
}

#sidebar h2{
    height:38px;
    padding:0px 0px 30px 0px;
    letter-spacing: -0.5px;
    font-size:1.8em;
    
}